@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.atas{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
    width: 70%;
}

.atas a h3{
    margin: 20px 40px;
    color: black;
}

.daftar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.anying{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kotak{
    border: 2px solid rgba(0, 0, 0, 0.493);
    width: 30%;
    display: flex;
    flex-direction: column;
    height: 300px;
    margin-top: 100px;
    border-radius: 10px;
}

.kotak2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tengah{
    display: flex;
    justify-content: center;
}

input{
    margin-bottom: 30px;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.705);
    outline: none;
    width: 260px;
    box-sizing: border-box;
    background-color: transparent;
}

.tombol{
    width: 50%;
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 10px;
    background-color: greenyellow;
    font-weight: 900;
}

/* ----------modal-------- */
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.664);
}

.modal.invalid{
    position: static;
    color: red;
    text-align: center;
    background-color: transparent;
    margin-top: 10px;
}

.modal.show {
    display: block;
    animation: fade .5s forwards;
}

.modal-dialog {
    position: relative;
    width: auto;
    max-width: 30%;
    margin: 10px auto;
    text-align: center;
}

.modal-content {
    background-color: white;
    width: 100%;
    border-radius: 10px;
}
.modal-content .modal-header {
    padding: 30px 30px;
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: scale(1);
    } 50% {
        opacity: 1;
        transform: scale(1.1);
    } 100% {
        opacity: 1;
        transform: scale(1);
    }
}